
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditComplete</title>
</head>
<body>
    <div> Ya has actualizado....
    </div>
</body>
</html>
