
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <div> Here is page 2

        <form method="post" action="/Home/MostrarLibros">
            <p>Titulo de Libro:<input type="text" name="nombre" /></p>
            <p>
                Nomre de Libro<br />
                <textarea rows="10" cols="120" name="comentarios"></textarea>
            </p>
            <p><input type="submit" value="Confirmar" /></p>
        </form>

    </div>
</body>
</html>
