@page
@model WebInterfaz.Pages.AJAX2Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AJAX2</title>
</head>
<body>
<h1>Response data</h1>
    <table>
        @foreach (var genre in Model.genres)
        {
        <tr>
            <td>@genre.GenreId</td>
            <td>@genre.Name</td>
        </tr>
        }
    </table>

    <br />
    <form method="post">
        ID de Genre:<input type="text" asp-for="GenreId" />
        Nombre de Genre:<input type="text" asp-for="Name" />
        <button type="Submit">Insertar Datos</button>

    </form>
</body>
</html>
